{% extends "base.html" %}

{% block title %}Customer{% endblock %}

{% block content %}
<div class="container-fluid">
    {% if customers %}
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1>Customers</h1>
            <a href="{% url 'create_job' %}" class="btn btn-primary btn-lg">Add Customer</a>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-striped table-lg">
                <thead class="table-dark">
                    <tr>
                    <th>Name</th>
                    <th>Contact</th>
                    <th>Customer Type</th>
                    <th>Place</th>
                    <th>Balance</th>
                    <th>Total Dues</th>
                    <th>Last Billed Amount</th>
                    <th>Last Billed Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                    <tr>
                        <td>{{ customer.customer_name }}</td>
                        <td>{{ customer.customer_mob_no }}</td>
                        <td>{{ customer.customer_type }}</td>
                        <td>{{ customer.place }}</td>
                        <td>{{ customer.balance }}</td>
                        <td>{{ customer.dues }}</td>
                        <td>{{ customer.last_billed_amount }}</td>
                        <td>{{ customer.last_billed_date.date }}</td>
                        <td>
                            <div class="d-flex flex-wrap gap-2">
                                <a href="{% url 'edit-customer' customer.id %}" class="btn btn-sm btn-info">Edit</a>
                                <a href="{% url 'customer_jobs' customer.id %}" class="btn btn-sm btn-info">View Jobs</a>
                                <a href="{% url 'delete-customer' customer.id %}" class="btn btn-sm btn-danger">Delete</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="text-center mt-5">
        <h3 class="mb-4">No Customers Added</h3>
        <a href="{% url 'add-customer' %}" class="btn btn-lg btn-primary">Add New Customer</a>
    </div>
{% endif %}
</div>
{% endblock %}