{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Customers{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                    <h2 class="mb-3">Customer</h2>
                    <a href="{% url 'add-customer' %}" class="btn btn-success btn-lg">Add Customer</a>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="table-secondary">
                        <tr>
                            <th>Name</th>
                            <th>Contact</th>
                            <th>Customer Type</th>
                            <th>Place</th>
                            <th>Balance</th>
                            <th>Total Dues</th>
                            <th>Last Billed Amount</th>
                            <th>Last Billed Date</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for customer in customers %}
                        <tr>
                            <td>{{ customer.customer_name }}</td>
                            <td>{{ customer.customer_mob_no }}</td>
                            <td>{{ customer.customer_type }}</td>
                            <td>{{ customer.place }}</td>
                            <td>{{ customer.balance }}</td>
                            <td>{{ customer.dues }}</td>
                            <td>{{ customer.last_billed_amount }}</td>
                            <td>{{ customer.last_billed_date.date }}</td>
                            <td>
                                <div class="d-flex flex-wrap gap-2">
                                    <a href="{% url 'edit-customer' customer.id %}" class="btn btn-sm btn-info">Edit</a>
                                    <a href="{% url 'customer_jobs' customer.id %}" class="btn btn-sm btn-info">View Jobs</a>
                                    <a href="{% url 'delete-customer' customer.id %}" class="btn btn-sm btn-danger">Delete</a>
                                </div>
                            </td>
                            </tr>
                        {% empty %}
                        <tr>
                          <td colspan="9" class="text-center">No Customer found.</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}