{% extends "base.html" %}
{% block title %} Job Detail {% endblock %}
{% block content %}
<h1>Job Details</h1>
<p><strong>Job Number:</strong> {{ job.job_no }}</p>
<p><strong>Customer:</strong> {{ job.mechanic }}</p>
<p><strong>Status:</strong> {{ job.status }}</p>
<p><strong>Completion Time:</strong> {{ job.job_completion_time }}</p>
<p><strong>Job Amount:</strong> {{ job.job_amount }}</p>
<h2>Services</h2>
{% if services %}
  <p><strong>Total Service Cost:</strong> Rs.{{ job.total_service_cost }}</p>
  <table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Service Type</th>
      <th>Service For Vehicle</th>
      <th>Service For Vehicle</th>
      <th>unit Service Cost</th>
      <th>Service Cost</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for service in services %}
      <tr>
        <td>{{ service.name }}</td>
        <td>{{ service.service_type }}</td>
        <td>{{ service.vehicle }}</td>
        <td>{{ service.quantity }}</td>
        <td>{{ service.unit_service_cost }}</td>
        <td>{{ service.service_cost }}</td>
        <td>
          <a href="{% url 'edit_service' service.pk %}" >Edit Service</a>  |
          <a href="{% url 'delete_service' service.pk %}" >Delete Service</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
<a href="{% url 'add_service' job.pk %}" >Add Service</a>

{% else %}
  <p>No services Added</p>
<a href="{% url 'add_service' job.pk %}" >Add Service</a>

{% endif %}

<h2>Items</h2>
{% if job.jobitem_set.exists %}
  <p><strong>Total Item Cost:</strong> Rs.{{ job.total_item_cost }}</p>
  <table class="table">
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th>Total Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for job_item in job.jobitem_set.all %}
      <tr>
        <td>{{ job_item.item }}</td>
        <td>{{ job_item.item_quantity }}</td>
        <td>{{ job_item.item_unit_price }}</td>
        <td>{{ job_item.item_price }}</td>
        <td>
          <a href="{% url 'edit-job-item' job_item.id %}" >Edit Item</a>  |
          <a href="{% url 'delete-job-item' job_item.id %}" >Delete Item</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
{% else %}
  <p>No Items Added</p>
{% endif %}
<a href="{% url 'add-job-item' job.pk %}" >Add Item</a>
<br>
<br>

<a href="{% url 'jobs' %}" >Back to Jobs</a> |
<a href="{% url 'job_edit' job.pk %}" >Edit Job</a> |
<a href="{% url 'job_delete' job.pk %}" >Delete Job </a>
<br>
<br>
<a href="{% url 'generate_invoice' job.id %}">Download Invoice</a>

{% endblock %}
