{% extends 'base.html' %}
{% block title %}Jobs{% endblock %}

{% block content %}
{% if jobs %}
  <h2>Jobs</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Job Number</th>
        <th>Customer</th>
        <th>Registration Number</th>
        <th>Created At</th>
        <th>Status</th>
        {% if show_completion_time %}
          <th>Completion Time</th>
        {% endif %}
        <th> Job Amount</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for job in jobs %}
        <tr>
          <td>{{ job.job_no }}</td>
          <td>{{ job.mechanic }}</td>
          <td>{{ job.license_plate }}</td>
          <td>{{ job.created_at }}</td>
          <td>{{ job.status }}</td>
          {% if show_completion_time %}
            <td>{{ job.job_completion_time }}</td>
          {% endif %}
          <td>{{ job.job_amount }}</td>
          <td>
            <a href="{% url 'job_detail' job.pk %}" >View</a> |
            <a href="{% url 'job_delete' job.pk %}" >Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'create_job' %}" >Create New Job</a>
{% else %}
<h3>No Jobs Created Yet</h3>
<a href="{% url 'create_job' %}" >Create New Job</a>
{% endif %}
{% endblock %}
