{% extends "base.html" %}
{% block title %}Items{% endblock %}

{% block content %}
{% if items %}
  <h2>Items</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Suited For</th>
        <th>Type</th>
        <th>Available Quantity</th>
        <th>MRP</th>

        <th>Cost Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          <td>{{ item.item_name }}</td>
          <td>{{ item.item_for_vehicle }}</td>
          <td>{{ item.item_type }}</td>
          <td>{{ item.item_quantity_in_stock }}</td>
          <td>{{ item.item_MRP }}</td>
          <td>{{ item.cost_price }}</td>
          <td>
            <a href="{% url 'item-detail' item.pk %}" >View</a>  |
            <a href="{% url 'item-update' item.pk %}" >Edit</a>  |
            <a href="{% url 'item-delete' item.pk %}" >Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
<p> No Items Added</p>
{% endif %}
<a href="{% url 'item-create' %}" >Create New Item</a>
{% endblock %}
