{% extends "base.html" %}
{% block title %}Item Detail{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h2 class="mb-0">Item Details</h2>
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <tbody>
              <tr>
                <th scope="row">Name</th>
                <td>{{ item.item_name }}</td>
              </tr>
              <tr>
                <th scope="row">Suited For</th>
                <td>{{ item.item_for_vehicle }}</td>
              </tr>
              <tr>
                <th scope="row">Type</th>
                <td>{{ item.item_type }}</td>
              </tr>
              <tr>
                <th scope="row">Quantity</th>
                <td>{{ item.item_quantity_in_stock }}</td>
              </tr>
              <tr>
                <th scope="row">MRP Price</th>
                <td>{{ item.item_MRP }}</td>
              </tr>
              <tr>
                <th scope="row">Discount</th>
                <td>{{ item.discount_percentage }}%</td>
              </tr>
              <tr>
                <th scope="row">Net Price</th>
                <td>{{ item.net_price }}</td>
              </tr>
              <tr>
                <th scope="row">Cost Price</th>
                <td>{{ item.cost_price }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <div class="d-flex gap-2 justify-content-center">
            <a href="{% url 'item-list' %}" class="btn btn-secondary">Back to Items</a>
            <a href="{% url 'item-update' item.pk %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'item-delete' item.pk %}" class="btn btn-danger">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}